.navbar{
    box-sizing: border-box;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
}

.navbar .left_section {

}

.navbar .right_section {

}

.navbar .right_section button {
    padding: 10px 20px;
    background: black;
    border-radius: 4px;
    color: #fff;
}


@media (min-width:320px) {
    .navbar .right_section {
        flex-direction: column;
    }
}
