.page4{
 
    padding: 150px 0px;
    background-color:rgb(50, 2, 69);
   width: 100%;

}
.page4 .title3{
    font-family: 'Noto Serif Thai';
    font-weight: 700;
    font-size: 48px;
    line-height: 77px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #FFFFFF 40.73%, #9164FB 119.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.page4 .text4{
    font-family: 'Noto Serif Thai';
    font-weight: 600;
    text-align: center;
    color: #AAAAAA;
}

.page4 .button7{
   
    padding: 16px 50px;
    margin-left: 615px;
    background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
    border-radius: 8px;

}
.x4{
    position: absolute;
/* width: 1469.72px;
height: 112.25px; */
left: -476.95px;
top: 5080.86px;

/* background: #FFFFFF; */
transform: rotate(-179.9deg);
}

@media (max-width:420px){
    .page4 .button7{
        flex-direction: column;
    }
}