.page3{
  
    padding: 150px 0px;
    width: 100%;
   
}
.page3 .title2{
    
   
    font-family: 'Noto Serif Thai';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 77px;
    text-align: center;
    letter-spacing: -1px;
  
    background: linear-gradient(90deg, #000000 0%, #CBCBCB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.page3 .row1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 50px;

/* width: 1124px; */                            
/* height: 357px; */
}

.page3 .row1 .frame1{
   display: flex;
   gap: 40px;
    /* width: 99%; */
    padding: 20px 80px;

}
.page3 .frame1 .card11{
    
    /* width: 30%; */
    border: 1px solid #AAAAAA;
    border-radius: 16px;
}

.page3 .card11 h1{
    
font-family: 'Noto Serif Thai';
font-size: 16px;
color: #AAAAAA;
}

.page3 .frame1 .card11 p{
    width: 300px;
    font-family: 'Noto Serif Thai';
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #000000;
    
    
}


.page3 .frame1 .card2{
   

border: 1px solid #AAAAAA;
border-radius: 16px;

}

.page3 .card2 h1{
    /* width: 300px;
    height: 26px; */
    
    font-family: 'Noto Serif Thai';
    /* font-style: normal;
    font-weight: 600; */
    font-size: 16px;
    /* line-height: 26px; */
    /* identical to box height */
    
    /* text-transform: uppercase; */
    
    color: #AAAAAA;
}

.page3 .card2 p{
    width: 300px;
    height: 28px;
    
    font-family: 'Noto Serif Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
   
    
    letter-spacing: -1px;
    text-transform: uppercase;
    
    color: #000000;
    
}


.page3 .frame1 .card3{

border: 1px solid #AAAAAA;
border-radius: 16px;
}

.page3 .card3 h1{
    width: 300px;
    height: 26px;
    font-family: 'Noto Serif Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #AAAAAA;
}

.page3 .card3 p{
    width: 300px;
    height: 28px;
    font-family: 'Noto Serif Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #000000;
}

.row1 .text3{
   
    padding: 0px;

}
.row1 .text3 h1{
    font-family: 'Noto Serif Thai';
    font-weight: 600;
    background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.row1 .text3 p{
    text-align: center;
    color: #AAAAAA;
}
.button6{
 
    padding: 16px 50px;
    color: white;
    background: #000000;
    border-radius: 8px;

}

.x3{
    position: absolute;
    height: 105.32px;
    left: 0.61px;
    top: 4419.76px;
    width: 1515px;
background: rgb(50, 2, 69);
transform: rotate(0.13deg);
}

@media (max-width:420px){
    .page3{
        flex-direction: column;
    }
    .page3 .row1 .frame1 {
        flex-direction: column;
        width: 100%;
        padding: 10px 90px;
    }
    .page3 .frame1 .card11{
        flex-direction: column;
        
    }
    .page3 .frame1 .card2{
      
    }
    .page3 .frame1 .card3{
       
    } 
    .button6{
        flex-direction: column;
    } 
}