.page2{
    
    background-color: rgb(50, 5, 69);
    padding: 40px;
}

.page2 .division1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.division1 .title1{
    font-family: 'Noto Serif Thai';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 77px;
    text-align: center;
    letter-spacing: -1px;
    background: linear-gradient(90deg, #FFFFFF 40.73%, #9164FB 119.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    /*margin-left: 335px;*/
}

.division1 .card1{
    display: flex;
    flex-direction: column;
    width: 83%;

}

.card1 p{
   
        /* font-family: 'Noto Serif Thai';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 51px;
        text-align: center;
    letter-spacing: -1px;
    text-transform: uppercase;
    background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent; */
    font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #AAAAAA;
}

.card1 .frame1{
   
background: rgba(255, 255, 255, 0.05);
border-radius: 16px;
/*margin-left: 150px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
}

.card1 .frame1 .col1 {
    width: 50%;
}

.card1 .frame1 .col1 img {
    width: 100%;
}

.frame1 .col2{
    /* display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 548px;
height: 175px; */
/*float: right;*/
/*margin-top: -250px;*/
}

.frame1 .col2 h1{
    /* width: 548px; */
    /*height: 76px;*/
    font-family: 'Noto Serif Thai';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.frame1 .col2 h2 {
    background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'Noto Serif Thai';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.card2 > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card2 > div .frame2 {
    width: 44%;
    padding: 20px;
}

.card2 > div .frame3 {
    width: 44%;
    padding: 20px;
}

.page2 .card2 > p {
    font-family: 'Noto Serif Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 51px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: uppercase;
    background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.division1 .card2{
    display: flex;
    flex-direction: column;
    width: 83%;
    /*padding: 0px;*/
    /*gap: 24px;*/
    /*width: 1140px;*/
    /*height: 612px;*/
}



.card2 .frame2{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
}

.card2 .frame3{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
}

.card2 .frame2 > div ,
.card2 .frame3 > div {

}

.card2 .frame2 > div > img,
.card2 .frame3 > div > img {
    width: 100%;
}

.frame2 .row2{

}

.frame2 .row2 h1{
    font-family: 'Noto Serif Thai';
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.frame2 .row2 h2{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
    text-align: center;
    font-family: 'Noto Serif Thai';
    background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.frame2 .row2 p{
    font-family: 'Noto Serif Thai';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #AAAAAA;
   
}

.frame3 .row2 h1{
    font-family: 'Noto Serif Thai';
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.frame3 .row2 h2{
    font-family: 'Noto Serif Thai';
    font-size: 32px;
    line-height: 51px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: uppercase;
    background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.frame3 .row2 p{
    /*width: 486px;*/
    font-size: 16px;
    line-height: 24px;
    font-family: 'Noto Serif Thai';
    color: #AAAAAA;
    text-align: center;
    /*margin-left: 0px;*/
}

/* --------------------------division2---------------------------------- */

.page2 .division2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    /* width: 83%; */
    padding: 0px 120px;

    /*width: 1140px;*/
    /*height: 1056.27px;*/
    margin-bottom: 100px;
}

.division2 .card3{
    box-sizing: border-box;
    /*padding: 20px;*/
    /*width: 1191px;*/
    /*height: 64px;*/
    background: rgba(255, 255, 255, 0.1);
    /*margin-left: 150px;*/
    /*margin-top: 250px;*/
    width: 100%;
}

.division2 .card3 p{
    font-family: 'Noto Serif Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    /*margin-top: -1px;*/
}

.division2 .card4{
    /*width: 1191px;*/
    /*height: 262px;*/
    /*margin-left: 150px;*/
    /*margin-top: 1px;*/
    box-sizing: border-box;
    /*padding: 20px;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
}

.card4 .part1{
    /*padding: 0px;*/
    /*width: 258px;*/
    /*height: 262px;*/
    /*margin-left: -20px;*/
    /*margin-top: -22px;*/
    height: 100%;
    width: 250px;
}

.card4 .part1 img {
    width: 100%;
    height: 100%;
}
.card4 .part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex: 1;
    padding: 0 20px;
}

.card4 .part2 > div {
    width: 30%;
    text-align: center;
}

.card4 .part2 > div img {
    width: 100%;
}

.card4 .part2 h1{
    font-family: 'Noto Serif Thai';
    font-weight: 600;
    font-size: 16px;
    /*top: 10px;*/
    /*margin-left: 90px;*/
    line-height: 24px;
    color: #FFFFFF;
}

.card4 .part2 h2{
    font-family: 'Noto Serif Thai';
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    /*margin-top:-29px;*/
}

.card4 .part2 h3{
    /*position: absolute;*/
    /*right: 7.63%;*/
    /*top:0px;*/
    font-family: 'Noto Serif Thai';
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    /*right: 93px;*/
}

.part2 .col1{
    /*position: absolute;*/
    /*width: 323px;*/
    /*height: 198px;*/
    /*left: 0px;*/
    /*top: 64px;*/
}

.part2 .col1 .image3{
    /*position: absolute;*/
    /*width: 185px;*/
    /*height: 114px;*/
    /*left: 55px;*/
    /*top: 17px;*/
}

.part2 .col2{
    /*position: absolute;*/
    /*width: 313px;*/
    /*height: 198px;*/
    /*left: 323px;*/
    /*top: 64px;*/
}

.part2 .col2 .image4{
    /*position: absolute;*/
    /*width: 185px;*/
    /*height: 114px;*/
    /*left: 53.5px;*/
    /*top: 17px;*/
}

.part2 .col3{
    /*position: absolute;*/
    /*width: 295px;*/
    /*height: 198px;*/
    /*left: 636px;*/
    /*top: 64px;*/
}

.part2 .col3 .image2{
    /*position: absolute;*/
    /*width: 185px;*/
    /*height: 114px;*/
    /*left: 55px;*/
    /*top: 17px;*/
}


.division2 .card5{
    display: flex;
    flex-direction: column;
    width: 100%;
    /*padding: 0px;*/

    /*width: 1140px;*/
    /*height: 730.27px;*/


/* Inside auto layout */

    /*flex: none;*/
    /*order: 2;*/
    /*flex-grow: 0;*/
}

/* .division2 .card5 > div {
    width: 100%;
    height: 40px;
} */

.division2 .card5 > div .card6 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
}

.division2 .card5 > div .card6 button {
    margin: 10px 20px;
    padding: 10px;
    width: 21%;
}

.division2 .card5 .line9 {
    height: 60px;
    margin-top: 20px;
}

.division2 .card5 .line9 > div {
    padding: 10px;
}

.card5 .line1{
        display: flex;
    padding: 20px;
    gap: 10px;

    /*width: 1139px;*/
    /*height: 64px;*/

}

.card5 .line1 p{
    /* position: absolute;
    height: 24px;
    left: 1.76%;
    right: 79.1%;
    top: calc(50% - 24px/2); */
    width: 25%;
    font-family: 'Noto Serif Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #AAAAAA;
}

.card5 .line1 .p1{
   

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

text-align: center;

color: #FFFFFF;
}
.card5 .line2{
    display: flex;
    /* flex-direction: column;
    justify-content: center;
    align-items: flex-start; */
    padding: 20px;
    gap: 10px;

    /*width: 1139px;*/
    /*height: 64px;*/

    border-top: 1px solid #AAAAAA;
}

.card5 .line2 p{
    font-family: 'Noto Serif Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 25%;
    /* identical to box height, or 150% */
    
    
    color: #AAAAAA;
}

.card5 .line2 .p1{
    font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;
width: 25%;
color: #FFFFFF;
}
.card5 .line3{
    display: flex;
    padding: 20px;
    gap: 10px;

    /*width: 1139px;*/
    /*height: 88px;*/

    border-top: 1px solid #AAAAAA;
}

.card5 .line3 p{
    font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* or 150% */
width: 25%;

color: #AAAAAA;
}

.card5 .line3 .p1{
    text-align: center;

color: #FFFFFF;
}
.card5 .line4{
    display: flex;
    padding: 20px;
    gap: 10px;

    /*width: 1139px;*/
    /*height: 88px;*/

    border-top: 1px solid #AAAAAA;
}

.card5 .line4 p{
    font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

width: 25%;
color: #AAAAAA;
}

.card5 .line4 .p1{
    text-align: center;

color: #FFFFFF;
}
.card5 .line5{


/* Auto layout */

    display: flex;
    padding: 20px;
    gap: 10px;

    /*width: 1139px;*/
    /*height: 64.09px;*/

    border-top: 1px solid #AAAAAA;
}

.card5 .line5 p{
    font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

width: 25%;
color: #AAAAAA;
}

.card5 .line5 .p1{
    text-align: center;

color: #FFFFFF;
}
.card5 .line6{

    display: flex;
    padding: 20px;
    gap: 10px;

    /*width: 1139px;*/
    /*height: 64.09px;*/

    border-top: 1px solid #AAAAAA;
}

.card5 .line6 p{
    font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

width: 25%;
color: #AAAAAA;
}

.card5 .line6 .p1{
    text-align: center;
    color:white;
}
.card5 .line7{

display: flex;
padding: 20px;
gap: 10px;

/*width: 1139px;*/
/*height: 64.09px;*/

border-top: 1px solid #AAAAAA;
}

.card5 .line7 p{
    font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
width: 25%;

color: #AAAAAA;
}

.card5 .line7 .p1{
    text-align: center;
    color: #FFFFFF;
}
.card5 .line8{



/*padding: 20px;*/
/*gap: 10px;*/

/*width: 1139px;*/
/*height: 64.09px;*/

border-top: 1px solid #AAAAAA;
}
/* .card5 .line9{


padding: 20px;
gap: 10px;

width: 1139px;
height: 64.09px;

border-top: 1px solid #AAAAAA;
} */
/* .line8 .card6{

width: 781px;
height: 46px;
left: 302px;
top: 32px;
} */
.card6 .button3{
/*width: 194px;*/
/*height: 46px;*/
background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
border-radius: 8px;
/*margin-left: 302px;*/
}
.card6 .button4{

/*width: 194px;*/
/*height: 46px;*/
/* margin-left: 496px; */
background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
border-radius: 8px;
}
.card6 .button5{

/*width: 194px;*/
/*height: 46px;*/
/*left: 889px;*/
background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
border-radius: 8px;
}
.line9 .card7{
    /* display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px 20px;
gap: 12px; */
/*margin-left: -20px;*/
/*width: 1180px;*/
/*height: 110px;*/

background: rgba(255, 255, 255, 0.04);
border-top: 1px solid #AAAAAA;

/* Inside auto layout */

    /*flex: none;*/
    /*order: 8;*/
    /*flex-grow: 0;*/
    }
.line9 .card7 h1{
/*    width: 44px;*/
/*height: 24px;*/

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #FFFFFF;

}
.line9 .card7 p{

color: #AAAAAA;
}

.page2_svg .x2{
/*    position: absolute;*/
/*width: 1515.45px;*/
/*height: 128px;*/
/*left: 0px;*/
/*top: 3548.52px;*/

background:rgb(50, 5, 69);
transform: rotate(-180.31deg);
    margin-top: -6px;
    width: -webkit-fill-available;
    height: auto;
}

@media (max-width: 800px) {
    .card2 > div {
        flex-direction: column;
    }

    .card2 > div .frame2 {
        width: 100%;
        margin-bottom: 10px;
    }
    .card2 > div .frame3 {
        width: 100%;
    }
}

@media (max-width: 780px) {
    .card4 .part1 {
        width: 150px;
    }

    .card1 .frame1  {
        flex-direction: column;
    }

    .card1 .frame1 .col1 {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .division2 .card4 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .division2 .card5 .p1{
        flex-direction: column;
    }
}

@media (max-width: 580px) {
    .card4 .part1 {
        width: 100%;
        margin-bottom: 20px;
    }

    .division2 .card4 {
        height: auto;
    }

    .card4 .part2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card4 .part2 > div {
        width: 100%;
    }
}
