   
  
.navbar {
  box-sizing : border-box;

  position: absolute;
  width: 1010px;
  height: 82px;
  left: 52px;
  top: 0px;
  margin: 10px;
 
  background: #FFFFFF;

}
.l1{
  width: 28.6px;
height: 29.19px;

background: white;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.b1{
  
/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
gap: 8px;

position: absolute;
width: 92px;
height: 44px;
left: 1194px;
top: 19px;
color: #FFFFFF;
background: #000000;
border-radius: 8px;}
.l2{
  
width: 122.58px;
height: 16.21px;

background: white;
transform: matrix(1, 0, -0.26, 0.97, 0, 0);

flex: none;
order: 3;
flex-grow: 0;
}
.l3{
  width: 96px;
height: 22px;

background: white;

flex: none;
order: 2;
flex-grow: 0;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 16px;
}

.b2 {
 /* Auto layout */
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 16px 50px;
 gap: 8px;
 
 width: 200px;
 height: 56px;
 color: white;
 background: #000000;
 border-radius: 8px;
 
 /* Inside auto layout */
 
 flex: none;
 order: 2;
 flex-grow: 0;
}
body{
  overflow-x: hidden;
}
.img1{
  /* Group 1000005883 */


position: absolute;
width: 589.18px;
height: 459.39px;
left: 738.32px;
top: 70px;
margin-left: 110px;
margin-top: 15px;

}
.nav1{
  
width: 28.6px;
height: 29.19px;
margin-top: 0px;
background:white;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.nav2{
  
width: 122.58px;
height: 16.21px;

background:white;
transform: matrix(1, 0, -0.26, 0.97, 0, 0);

/* Inside auto layout */

flex: none;
order: 3;
flex-grow: 0;
}
.nav3{
  
box-sizing: border-box;

position: absolute;
width: 75px;
height: 24px;
left: 260px;
top: 8px;

background: #FFFFFF;
}

.img1{

  position: absolute;
  width: 589.18px;
  height: 459.39px;
  left: 578.32px;
  top: 30px;
}

img {
  width: 100%;
  height: auto;
}

.t3{
  
width: 463px;
height: 154px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 77px;
letter-spacing: -1px;
text-transform: uppercase;

/* TitleDegods */

background: linear-gradient(90deg, #000000 0%, #CBCBCB 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}
.t4{
  width: 191px;
height: 25px;
margin-left: 20px;
font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 20px;
letter-spacing: -1px;
text-transform: uppercase;
margin: 10px 0 0 90px;
margin-left: -3px;
/* Solswipe */

background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
border-inline-color: transparent;

transform: matrix(1, 0, -0.28, 0.96, 0, 0);

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.t6{
 
width: 463px;
height: 96px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */


color: #AAAAAA;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.trial{
  background-color: red;
}
.card1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  
  position: absolute;
  width: 463px;
  height: 454.51px;
  left: 150px;
  top:30px;
  
/* margin-top: -4400px; */
}
.line1{
position: absolute;
width: 1474.38px;
height: 123px;
left: -18.01px;
top: 841.73px;

background: #FFFFFF;
transform: rotate(-0.83deg);
}
.line2{

position: absolute;
width: 1474.38px;
height: 97.05px;
left: -17.63px;
top: 867.67px;

/* background: rgba(0, 0, 0, 0.3); */
background-color: blue;
filter: blur(15px);
transform: rotate(-0.83deg);
}
.t7{

width: 658px;
height: 77px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 77px;
/* identical to box height */

text-align: center;
letter-spacing: -1px;
text-transform: uppercase;

/* Title2 */

background: linear-gradient(90deg, #FFFFFF 40.73%, #9164FB 119.98%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
border-inline-color: transparent;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.x1{
 /* Vector 392 */
 background-color: #141313;
position: absolute;
width: 1514.38px;
height: 123px;
left: -153px;
top: 551.73px;

background: rgb(50, 5, 69);
transform: rotate(-1);

}
.t8{
  background:rgb(50, 5, 69);
  margin-top:10px;
  color: rgb(50, 5, 69);
}
